.card-form {
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  padding: 22px 12px;
  margin-top: 10px;

  fieldset {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  
  }

  input {
    position: relative;
    margin: 11px 0;
    min-width: 120px;
    width: 211px;
    max-width: 211px;
    line-height: 12px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 5px 10px;
    &:invalid {
      border: 1px solid #D91313
    }
  }

  textarea {
    position: relative;
    margin: 11px 0;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 5px 10px;
    resize: none;
  }
  
  label {
    position:relative;
    top: 5px;
    background: none;
  }

  &__submit-button {
    background: #52CF4F;
    max-width: 85px;
    align-self: end;
    border: solid #52CF4F 1px;
    &:disabled {
      border: solid #AFAFAF 1px;
      background: #AFAFAF;
    }
  }
}