.user-info-block {
  padding: 10px;
  min-width: 300px;
  max-width: 420px;
  height: 73px;
  background: #F3F3F3;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: solid #F3F3F3 1px;
  transition: border 0.1s ease-in-out;

  &__key {
    margin-right: 7px;
    color: #cccccc
  }

  &__inner-item {
    display: flex;
    p {
      font-size: 11px;
    }
  }

  a {
    display: inline-block;
    color: #4B51EF;
    margin-left: auto;
    font-size: 12px;
    cursor: pointer;
    transition: text-shadow 0.1s ease-in-out;
    &:hover{
      text-shadow: .5px 0 0,-.5px 0 0;
    }
  }

  &:hover {
    border: solid #4B51EF 1px;
  }
}