@import './null-style.scss';

@font-face {
  font-family: 'Roboto';
  src: url(./font/Roboto-Regular.ttf);
}

* {
  font-size: 12px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #cccccc;
}

#root {
  margin: 0 auto;
  max-width: 1028px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  display: flex;
  list-style: none;

}

.left-side {
  background: #BDBDBD;
  min-width: 150px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.right-side {
  padding-top: 20px;
  padding-left: 31px;
  padding-right: 62px;
  width: 100%;


  h1{
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
}

.button {
  background-color: #4B51EF;
  color: white;
  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: solid #4B51EF 1.5px;
  transition: border 0.1s ease-in-out;
  
  &:hover {
    border: solid white 1.5px;
  }
  
  &:disabled {
    background-color: #6e6e6e;
    border: solid #6e6e6e 1.5px;
    
  }

}
