@import './null-style.scss';

@font-face {
  font-family: 'Roboto';
  src: url(./font/Roboto-Regular.ttf);
}

* {
  font-size: 12px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #cccccc;
}

#root {
  margin: 0 auto;
  max-width: 1028px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  display: flex;
  list-style: none;

}

.sorting {
  background: #BDBDBD;
}

.right-side {
  padding-top: 20px;
  padding-left: 31px;
  padding-right: 62px;
  width: 100%;


  h1{
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
}

.button {
  background-color: #4B51EF;
  color: white;
  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: solid #4B51EF 1.5px;
  transition: border 0.1s ease-in-out;
  
  &:hover {
    border: solid white 1.5px;
  }

}

.left-side {
  min-width: 150px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.user-list {
  &__element {
    margin: 14px 0;
  }
}

.user-info-block {
  padding: 10px;
  min-width: 300px;
  max-width: 420px;
  height: 73px;
  background: #F3F3F3;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: solid #F3F3F3 1px;
  transition: border 0.1s ease-in-out;

  &__key {
    margin-right: 7px;
    color: #cccccc
  }

  &__inner-item {
    display: flex;
    p {
      font-size: 11px;
    }
  }

  a {
    display: inline-block;
    color: #4B51EF;
    margin-left: auto;
    font-size: 12px;
    cursor: pointer;
    transition: text-shadow 0.1s ease-in-out;
    &:hover{
      text-shadow: .5px 0 0,-.5px 0 0;
    }

  }

  &:hover {
    border: solid #4B51EF 1px;
  }
}

.user-profile {

  &__info {
    display: flex;
    // align-items: center;
    justify-content: space-between
  }
}

.card-form {
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  padding: 22px 12px;
  margin-top: 10px;

  fieldset {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  
  }

  input {
    position: relative;
    margin: 11px 0;
    min-width: 120px;
    width: 211px;
    max-width: 211px;
    line-height: 12px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 5px 10px;
    &:invalid {
      border: 1px solid #D91313
    }
  }

  textarea {
    position: relative;
    margin: 11px 0;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 5px 10px;
    resize: none;
  }
  
  label {
    position:relative;
    top: 5px;
    background: none;
  }

  &__submit-button {
    background: #52CF4F;
    max-width: 85px;
    margin-left: auto;
    border: solid #52CF4F 1px;
    &:disabled {
      border: solid #AFAFAF 1px;
      background: #AFAFAF;
    }
  }
}

.edit-button {
  margin: 0;
}

.active {
  :disabled {
    color: red;
  }
}

